.results {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;;
}
.results tr th, .results tr td {
    padding: 10px 10px;
}
.results tr:not(:first-of-type) {
}

.results tr:not(:first-of-type):nth-child(2n) {
     background: rgba(255,255,255,0.1);
}

.results tr td:nth-child(n+4) {
     background: rgba(255,255,255,0.1);
}
.results tr td:nth-child(1)  {
     background: rgba(0,66,0,0.4);
     padding: 0 3px;
}
.results tr td:last-child  {
     background: rgba(33,22,10,0.5);
     padding: 0 3px;
}
.results th {
    text-align: center;
    min-width: 30px;
}
*::slection{
  background: right: !important;
}
.games {
    width: 600px;
    margin: 0 auto;
    font-size: 1rem;
    position: relative;
}
.games-search {
    width: 400px;
    margin: 0 auto;

}
.games tr td{
    padding: 15px 0;
}
.games tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.1);
}
.games td h1 {
    /*line-height: 30px;*/
    margin: 0;
    font-size: 3.2em;
}
.games td h3 {
    margin: 0;
    font-size: 2em;
}
.games td h5 {
    margin: 0;
    color: #aaa;
    font-size: 1.2em;
}
.games tr td:first-child{
  width: 42%;
}
.games tr td:nth-child(2){
  width: 5%;
}

.games tr td:nth-child(3){
  width: 6%;
}

.games tr td:nth-child(4){
  width: 5%;
}
.games tr td:last-child{
  width: 42%;
}
.games-scroll{
  overflow: hidden;
  height: 130px;
}
.map{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: auto;
}
.map td{
  box-sizing: border-box;
  line-height: 40px;
}
.inner-top{
  box-sizing: border-box;
  width: 40px;
  display:block;
  float:left;
}
.inner-cell{
  width: 40px;
  height: 40px;
  display: block;
  float:left;
  overflow:hidden;
  font-size: 13px;
  margin:0;
  padding:0;
  text-align: center;
  box-sizing: border-box;
}
.inner-left{
  box-sizing: border-box;
  line-height: 40px;
  height: 40px;
  padding: 0px 10px;
  text-transform: uppercase;
}
.map .own:after{
  background:black;
  content:"-";
}
.map .own:after{
  background:black;
  content:"-";
}
.map .possible:hover{
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.map .blocked:hover{
  cursor: not-allowed;
  background: rgba(255, 0, 0, 0.4);
}
.map .played{
  background: rgba(255, 255, 255, 0.4);
}
.map .no-played{
  background: rgba(200, 200, 200, 0.1);
}.map .no-played:after{
  color: rgba(255, 255, 255, 0.15);
  content:"-";
}
.inner-left:nth-child(2n), .inner-top:nth-child(2n) {
  background: rgba(255, 255, 255, 0.15);
}
.games-scroll-control{
  font-size: 30px;
  transition: all 0.4s ease;
}
.games-scroll-control.inactive{
  color:  rgba(255, 255, 255, 0.15);
}
.games-scroll-control.active:hover{
  color: yellow;
  cursor: pointer;

}

.games .rematch{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.games .rematch::after{
  position: absolute;
  display: table-row;
  height: 20px;
  content:"rematch";
  font-size: 13px;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 45px;
  color: rgba(255,255,255,0.3-);
  left: 0px;
  right: 0px;
  text-align: center;
}
.games .do-rematch:hover{
  cursor:pointer;
  overflow: hidden;
  content:"";
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.games .do-rematch:hover::after{
  position: absolute;
  display: table-row;
  height: 65px;
  content:"Rematch";
  font-size: 27px;
text-transform: uppercase;
  line-height: 65px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: linear-gradient(90deg, transparent 25%, black 50%, transparent 75%);
}

#post-results{
  position: fixed;
  z-index: 9998;
  top:0px;
  right: 0;
  left:0;
  bottom:0;
  box-sizing: border-box;
  margin: auto auto;
  background: rgba(0,0,0,0.4);
  transition: all .6s ease;
}

#post-results .inner{
  width: 640px;
  height: 480px;
  left: 0;
  right:0;
  bottom: 0;
  top: 0;
  position: absolute;
  background: rgba(33,33,33,0.7);
  padding: 20px;
  box-shadow: 0px 0px 3px rgba(255,255,255,0.4);
  margin: auto;
}
#post-results .name{
  position:absolute;
  width: 260px;
  text-align: center;
  top: 40px;
  padding:0;
  margin:0;
}
#post-results .header{
  position: absolute;
  left:0;
  right:0px;
  width: 160px;
  margin: auto;
  text-align: center;
}
#post-results .header h4{
  margin:0;
}
#post-results .name h2{
margin:0;
line-height: 70px;
font-size: 35px;
}
#post-results .name-home{
  left: 50px;
}
#post-results .name-away{
  right: 50px;
}
.modal-enter, .modal-leave {
  opacity: 0;
  transform: scale(1.6);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  filter: blur(20px);
}
.fade{
  transition: all 0.3s ease;
  opacity: 1;
}
.fade-enter, .fade-leave {
  opacity: 0;
}
#post-results .team{
  position: absolute;
  top: 130px;
  width: 260px;
  text-align: center;
}
#post-results .team h2{
  font-size: 16px;
  margin:0;
  line-height: 40px;
}
#post-results .team-home{
  left: 50px;
}
#post-results .team-away{
  right: 50px;
}
#post-results .submit{
  position: absolute;
  left:0;
  right:0;
  margin: auto;
  width: 100px;
  text-align: center;
  top: 275px;
}
  #post-results .submit-result{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#post-results .close{
  color:white;
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
}
#post-results .goals{
  width: 100px;
  top: 200px;
  position: absolute;
  text-align:center;
}
#post-results .goals h3{
  margin:0;
  font-size: 35px;
}
#post-results .errors{
  position: absolute;
  top: 320px;
  text-align: center;
  left:0;
  right:0;
  margin: auto;
  display: block;
}
#post-results .errors span{
  display:block;
  color: gray;
}
#post-results .goals i{
  margin:0;
  font-size: 35px;
  cursor: pointer;
  color: gray;
  transition: all .3s ease;
}
#post-results *:not(input){
  -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
#post-results input{
  color: gray;
  background: rgba(66, 66, 66, 0.1);
  border: 0;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  outline:none;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Montserrat", "Helvetica";
  text-transform: uppercase;
  margin:0;
  padding:0;
  border-radius: 0px;
}
#post-results input:focus{
  box-shadow: none;
}
#post-results .goals i:hover{
  color: white;
  text-shadow: 0px 0px 13px rgba(255,255,255,0.7);
}
#post-results .goals-home{
  left: 140px;
}
#post-results .goals-away{
  right: 140px;
}
.whole{
  transition: all 0.6s ease;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
}
.blurred{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}
.gray{
  color: #AAA;
}
a:hover{
  text-shadow: 0px 0px 5px rgba(255,255,255,0.3);
}
