.results {
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}
.results tr th, .results tr td {
    padding: 10px 10px;
}
.results tr:not(:first-of-type) {
}

.results tr:not(:first-of-type):nth-child(2n) {
     background: rgba(255,255,255,0.1);
}

.results tr td:nth-child(n+4) {
     background: rgba(255,255,255,0.1);
}
.results tr td:nth-child(1)  {
     background: rgba(0,66,0,1);
     padding: 0 3px;
}
.results tr td:last-child  {
     background: rgba(33,22,10,0.5);
     padding: 0 3px;
}
.results th {
    text-align: center;
    min-width: 30px;
}


.games {
    width: 550px;
    margin: 0 auto;
    font-size: 1rem;
}
.games tr td{
    padding: 15px 0;
}
.games tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.1);
}
.games td h1 {
    /*line-height: 30px;*/
    margin: 0;
    font-size: 3.2em;
}
.games td h3 {
    margin: 0;
    font-size: 2em;
}
.games td h5 {
    margin: 0;
    color: #aaa;
    font-size: 1.2em;
}
.games-scroll{
  overflow: hidden;
  height: 130px;

}
