body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("https://static.pexels.com/photos/39562/the-ball-stadion-football-the-pitch-39562.jpeg");
  background-size: cover;
  background-position: 0 0, 80% 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  margin: 20px;
  margin-top: 50px;
}

* {
  box-sizing: border-box !important;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

$h: 30px;
$padd: 5px;
$border: 1px;

input,button{
  padding:$padd;
  margin:0;
  height: $h;
  background-color: lighten($basic,5%);
  border: $border solid darken($basic,10%);
  line-height: $h - 2*$padd - 2*$border;
  box-shadow: 0px 0px 2px darken($basic,10%);
  color:white;
  transition: all 0.2s ease;
  letter-spacing: 0.2px;
  &:focus{
    outline:none;
    box-shadow: 0px 0px 2px $basic;
  }
  &:hover{
    background-color: lighten($basic,15%);
    border: $border solid  $basic;
    box-shadow: 0px 0px 2px $basic;
  }
  &:disabled{
      color:grayscale(lighten($basic,30%));
      background-color: grayscale($basic);
      border: $border solid  grayscale(lighten($basic,10%));
      box-shadow: 0px 0px 2px grayscale($basic);
  }
}
button{
  text-transform: uppercase;
  &:hover{
    cursor: pointer;
  }
}
footer {
  position: absolute;
  bottom: 0px;
  padding: 0;
  height: 30px;
  line-height: 30px;
  left: 10px;
  right: 0px;
  z-index: 2;

  h2 {
    margin: 0;
    float: left;
  }

  div.copyright {
    float: right;

    a.schibsted-logo {
      opacity: 0.5;
      transition: all 0.4s ease;

      &:hover {
        opacity: 1;
      }
      background-image: url("http://www.schibsted.pl/wp-content/themes/schibsted-pl/img/stp_logo.png");
      width: 100px;
      height: 30px;
      float: right;
      margin-left: 20px;
      background-color: rgba(255, 255, 255, 1);
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }
}

.action {
  cursor: pointer;
  color: lighten($basic, 60%);
  text-shadow: 0px 0px 1px black;

  &:hover {
    color: lighten($basic, 20%);
    text-shadow: 0px 0px 2px black;
  }
}

.important{

  color: lighten($basic, 30%);
}
