.tabs{
  position:absolute;
  overflow:hidden;
  top:75px;
  bottom:0px;
  margin-bottom: 35px;
  left:30px;
  right:30px;
  min-height: 100px;
  .manage{
    $basic: transparentize(darken(#42dca3,30%),0.3);
    height: 33px;
    border-bottom: 3px solid lighten($basic,30%);
    background: transparentize($basic,0.4);
    .tab-pill{
      cursor: pointer;
      width: 165px;
      float:left;
      height: 30px;
      background: $basic;
      font-family: 'Montserrat';
      text-transform: uppercase;;
      line-height: 30px;
      box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5);
      text-align: center;
      transition: all 0.3s ease;
      &:hover,&.active{
        background: lighten($basic,10%);
      }
    }

  }
  .tab{
    width: 100%;
    padding:20px;
    top:33px;
    bottom:0;
    position:absolute;
    transition: all 0.9s ease;
    transform: translateX(-3000px);
    overflow:auto;
    &.active{
      transform: translateX(0);
    }
  }
  box-shadow:   0px 0px 10px black,
              0px 0px 1px black,
              0px 0px 150px black,
              0px 50px 300px black  ;
  }
