<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Schibsted Tech Polska Gdańsk's Office Fifa 16 League</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/grayscale.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script type="x-template" id="top-scorers-template">
    <div class="col-lg-5 col-lg-offset-2">
        <h2>Top scorers</h2>
            <table class="results">
            <tr>
              <th>Pos.</th>
              <th>Player</th>
              <th>Team</th>
              <th>Goals</th>
            </tr>
            <tr v-for="(index,player) in scorers">
                <td>{{index + 1}}.</td>
              <td>{{player.name}}</td>
              <td>{{$root.team(player)}}</td>
              <td>{{player.goals}}</td>
            </tr>
            </table>
      </div>
    </script>
    <script type="x-template" id="team-score">
      {{name}}
      <span for="n in parseInt(score)">
      </span>
      <span v-if=></span>
    </script>
    <script type="x-template" id="results-table-template">
        <div class="col-lg-5 ">
          <h2>Results</h2>
            <table class="results">
                <tr>
                    <th>Pos.</th>
                    <th>Player</th>
                    <th>Matches</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>Goals</th>
                    <th>Points</th>
                </tr>
                <tr v-for="(index,player) in table">
                  <td>
                     {{index  + 1}}.
                  </td>
                  <td>{{player.name }}</td>
                  <td>{{player.total }}</td>
                  <td>{{player.wins }}</td>
                  <td>{{player.draws }}</td>
                  <td>{{player.losses }}</td>
                  <td>{{player.gained }} - {{player.lost }}</td>
                  <td>{{player.points }}</td>
                </tr>
            </table>
        </div>
    </script>
    <script type="x-template" id="result-map-template">
    <h2>Results Map</h2>
    <table class="map">
      <tr><td></td>
        <td colspan="{{players.length}}"  :style="{width: (40*players.length)+px}">
        <span class="inner-top" v-for="opponent in players" class="outer">
         {{opponent.substr(0,1)}}
        </span>
        </td>
      </tr>
      <tr><td rowspan={{players.length}} :style="{height: 40*players.length+'px'}">
        <div class="inner-left" :class="index % 2 ? 'even' : 'odd'" v-for="(index,player) in players">
        {{player}}
        </div>
      </td>
        <td>
          <div :style="{width: 40*players.length+'px', height: 40*players.length+'px'}">
          <span v-for="home in players">
            <span class="inner-cell" :class="played(home, away)" @click="createGame(away,home)" v-for="away in players">
              {{resultsBetween(home, away)}}
            </span>
          </span>
          </div>
        </td>
      </tr>
    </table>
    </script>
    <script type="x-template" id="games-table-template">
    <h2>Games</h2>
    <h4>Played {{games.length}} of {{expectedGames}} games</h4>
      <input type="text" class="form-control games-search" placeholder='filter by typing: Player,Opponent' v-model="search"/>
      <span @click="up" class="games-scroll-control" :class="currentScroll != 0 ? 'active' : 'inactive'"><i class="fa fa-angle-double-up"></i></span>
      <div class="games-scroll">
        <span v-if="filteredGames.length == 0">Not founds matches related to {{searchBy.join(" ")}}</span>
        <table class="games">
          <tr v-for="game in filteredGames" title :class="isFirstGame(game) ? 'do-rematch' : (game.revange ? 'rematch' : '')" @click="rematch(game)">
            <td class="teamname home" :class="game.home.goals > game.away.goals ? 'winner' : (game.home.goals == game.away.goals ? 'draw' : 'loser' )">
              <h3>{{game.home.name}}</h3>
              <h5>{{game.home.team}}</h5>
            </td>
            <td>
             <h1>{{game.home.goals}}</h1>
            </td>
            <td>
                <h1>:</h1>
            </td>
            <td>
             <h1>{{game.away.goals}}</h1>
            </td>
            <td class="teamname away" :class="game.home.goals < game.away.goals ? 'winner' : (game.home.goals == game.away.goals ? 'draw' : 'loser' )">
              <h3>{{game.away.name}}</h3>
              <h5>{{game.away.team}}</h5>
            </td>
          </tr>
        </table>
      </div>
     <span @click="down" class="games-scroll-control" :class="currentScroll < maxScrolled  ? 'active' : 'inactive'"> <i class="fa fa-angle-double-down"></i></span>
    </script>
    <script type="x-template" id="post-result-template">
    <div id="post-results" v-show="isShowed" transition="modal">
    <div class="inner">

    <div class="header">
      <h4>Submit Result</h4>
    </div>
      <div class="name name-home">
        <h2>{{home.name}}</h2>
      </div>
      <div class="name name-away">
        <h2>{{away.name}}</h2>
      </div>
    <div class="goals goals-home">
      <span class="add-goals" @click="goals('home',1)"><i class="fa fa-angle-double-up"></i></span>
      <h3>{{home.goals}}</h3>
      <span class="sub-goals fade" v-show="home.goals > 0" transition="fade" @click="goals('home',-1)"><i class="fa fa-angle-double-down"></i></span>
    </div>

    <div class="goals goals-away">
      <span class="add-goals" @click="goals('away',1)"><i class="fa fa-angle-double-up"></i></span>
      <h3>{{away.goals}}</h3>
      <span class="sub-goals fade"  v-show="away.goals > 0" transition="fade" @click="goals('away',-1)"><i class="fa fa-angle-double-down"></i></span>
    </div>

    <div class="team team-home">
    <div class="input" v-if="!isLocked(home)">
      <input type='text' debounce="250" v-model="home.team" class="form-control">
    </div>
    <div v-else>
      <h2>{{home.team}}</h2>
    </div>
    </div>

    <div class="team team-away">
      <div class="input" v-if="!isLocked(away)">
        <input type='text' debounce="250" v-model="away.team" class="form-control">
      </div>
      <div v-else>
        <h2>{{away.team}}</h2>
      </div>
    </div>

    <div class="submit">
            <button @click="post" :disabled="errors.length > 0" class="btn btn-primary">Submit</button>
    </div>

    <div class="submit-result">
    <h5>{{result}}</h5>
    </div>

    <div class="errors">
      <span v-for="error in errors">
          {{error.msg}}
      </span>
    </div>
    <span class="close" @click="hide()"><i class="fa fa-times" aria-hidden="true"></i></span>
  </div>
  </div>
    </script>
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="whole">
    <!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Start</span>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav" v-if="!logged">
              <li >
                <a href @click="auth"><i class="fa fa-github"></i> Sing-In</a>
              </li>
            </ul>
            <ul  v-else class="nav navbar-nav">
              <li>
                <a href @click="toggleName"><i class="fa fa-github"></i> {{ toDisplay }}</a>
              </li>
              <li>
                <a href @click="unAuth"><i class="fa fa-sign-out"></i> Sign-Out</a>
              </li>
        </ul>
        </div>

    </div>
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Schibsted League</h1>
                    <p class="intro-text">A table of results for Schibsted's Gdańsk office FIFA 16 league.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="results" class="container content-section text-center">
  <div class="row">
    <table-of-results></table-of-results>
    <top-scorers></top-scorers>
  </div>
</section>

<section class="container content-section text-center">
  <div class="row">
    <games-table></games-table>
  </div>
</section>

<section class="container content-section text-center">
  <div class="row">
    <result-map></result-map>
  </div>
</section>

<!-- Contact Section -->
<section id="contribute" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
            <h2>Fell free to contribute on <a href="https://github.com/modelga/schibsted-gdansk-fifa-league">github.com</a></h2>
  </div>

  </div>
</section>

    <footer>
           <div class="container text-center">
               <p>Schibsted Tech Polska @ 2016</p>
           </div>
    </footer>
</div>
    <post-result></post-result>

    <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/clubs.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/grayscale.js"></script>

    <script src="js/array.unique.js"></script>


    <script src="js/vue.js"></script>
    <script src="js/vue.async.data.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>

    <script src="js/table-of-results.js"></script>
    <script src="js/top-scorers.js"></script>
    <script src="js/games-table.js"></script>
    <script src="js/map.js"></script>
    <script src="js/post-result.js"></script>

    <script src="js/app.js"></script>

  </body>

</html>
