<span class="leagues">
<a class="navbar-brand page-scroll league" href="#" v-for="league in leagues" track-by="$index">
 <span @click="choose(league)" class="light" :class="league == active ? 'active':''">{{league}}</span>
</a>
</span>

<a class="navbar-brand page-scroll post-result">
  <span @click="postResult()" class="action light">Post result</span>
</a>

<a class="navbar-brand page-scroll new"  v-if="isAdmin">
  <span @click="newLeague()" class="light new-league">+New League</span>
</a>

<div class="input" v-if="showInput">
  <div class="col-lg-8">
    <input v-model="newLeagueName" class="form-control" placeholder="name for new league"/>
  </div>
  <div class="col-lg-1">
  <button @click="acceptLeague" class="btn btn-primary">Submit</button>
</div>
</div>
