<div class="myAccount">
  <h2>My Account</h2>

Display Name: <input v-model="logged.displayName" /> <button type="submit" @click="changeName">Change</button></br>

Leagues:

<div class="leagues-list" v-for="league in leagues" track-by="$index">
{{league}}
  <span @click="attempt(league)" class="prepend-hyphen action" v-if="!attempted && !member">attempt</span>
  <span class="prepend-hyphen" v-if="member == league">member</span>
  <span class="prepend-hyphen" v-if="attempted == league && !member">attempted</span>
</div>

</div>
