<div class="myAccount">
  <h2>My Account</h2>
<table>
  <tr>
    <td>Display Name</td>
    <td><input v-model="logged.displayName" type="text" /></td>
    <td> <button type="submit" @click="changeName">Change</button></td>
  </tr>
  <tr>
    <td>My Team</td>
    <td class="autocomplete"><input type="text" v-model="team" :disabled="teamSetState === 'selected'" />
      <div class="prompts" :class="hideTeams ? 'hide':''">
        <span v-for="prompt in clubs | filterBy team | limitBy 7" @click="pickTeam(prompt)">{{prompt}}</span>
      </div><br/>
      <span v-if="teamSetState === 'selected'">Awaiting approval</span>
      <span v-if="teamSetState === 'approved'">Approved</span>
    </td>
    <td><button type="submit" @click="changeTeam" :disabled="teamSetState === 'selected'">Request Change</button>
    </td>
  </tr>
  <tr>
    <td>
      League
    </td>
    <td>
      <span v-if="!member && !attempted">
      <div class="leagues-list" v-for="league in leagues" track-by="$index">
      <label><input type="radio" v-model="li" :value="league" :checked="member == league" /><span>{{league}}</span></label>
        <span class="prepend-hyphen" v-if="member == league">member</span>
        <span class="prepend-hyphen" v-if="attempted == league && !member">attempted</span>
      </div>
      </span>
      <span v-else>
        <span v-if="!!member">{{member}} - member</span>
        <span v-if="!!attempted && !member">{{attempted}} - awaiting approval</span>
      </span>
    </td>
    <td>
      <button type="submit" @click="attempt(li)" :disabled="!!member || !!attempted" >Request Attempt</button>
    </td>
  </tr>
</table>
(to check team details please go to <a target="_blank" :href="'http://www.fifaindex.com/en/teams/?name='+team">fifaindex.com</a>)
</div>
